.page-menu {
	width: 496px;
	margin-bottom: 30px;
}

.page-menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-menu__item_active .page-menu__link {
	color: #221f1f;
}

.page-menu__link {
	display: flex;
	align-items: center;
	font-family: 'Gotham Pro', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #ec1e79;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	transition: .25s ease;
}

.page-menu__link:hover {
	color: #221f1f;
	transition: .25s ease;
}

.page-menu__link::before {
	content: '';
	display: flex;
	margin-right: 19px;
}

.page-menu__link::after {
	content: '';
	display: flex;
	margin-right: 19px;
	position: absolute;	
	opacity: 0;
	transition: .25s ease;
}

.page-menu__link_main-icon::before {
	width: 17px;
	height: 16px;
	background: url(../../img/menu-page_sprites.png) -10px -10px;
}

.page-menu__link_main-icon::after {
	width: 17px;
	height: 16px;
	background: url(../../img/menu-page_sprites.png) -47px -10px;
}

.page-menu__link_main-icon:hover::after {
	opacity: 1;
}

.page-menu__item_active .page-menu__link_main-icon::before {
	background: url(../../img/menu-page_sprites.png) -47px -10px;
	opacity: 0;
}

.page-menu__link_feed-icon::before {
	width: 20px;
	height: 18px;
	background: url(../../img/menu-page_sprites.png) -162px -10px;
}

.page-menu__link_feed-icon::after {
	width: 20px;
	height: 18px;
	background: url(../../img/menu-page_sprites.png) -202px -10px;
}

.page-menu__link_feed-icon:hover::after {
	opacity: 1;
}

.page-menu__link_feed-icon:hover::before {
	opacity: 0;
	transition: .25s ease;
}

.page-menu__item_active .page-menu__link_feed-icon::before {
	background: url(../../img/menu-page_sprites.png) -202px -10px;

}

.page-menu__link_planes-icon::after {
	width: 19px;
	height: 16px;
	background: url(../../img/menu-page_sprites.png) -123px -10px;
}

.page-menu__link_planes-icon::before {
	width: 19px;
	height: 16px;
	background: url(../../img/menu-page_sprites.png) -84px -10px;
}

.page-menu__link_planes-icon:hover::after {
	opacity: 1;
}

.page-menu__item_active .page-menu__link_planes-icon::before {
	background: url(../../img/menu-page_sprites.png) -123px -10px;
}